<!DOCTYPE html>
{% load static %}
<html>
<head>
    
    <!--[if lt IE 9]>
   <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('figure');
      document.createElement('aside');
   </script>
<![endif]-->


    <title>Mesa County Geography Quiz</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/take_the_quiz.css' %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
</head>

<body>
    <header class="row-fluid col-xs-12 col-md-12">
        <img id="headerimg" src="{% static 'images/mc_header.jpg' %}" alt="Mesa County Header" />
    </header>

    <div class="container-fluid">

        <h1 class="row-fluid  col-xs-12 col-md-12">Mesa County Geography Quiz</h1>
        <div id="startquiz">
            <button class="btn btn-default btn-xlarge" id="startquizbutton">Start the quiz</button>
        </div>

        <form name="questionForm" id="questionForm" action="answers/" method="post">
            {% csrf_token %} {% for q in question %}
            <div class="row-fluid">
                <div class="questionblock" id="questionblock{{ forloop.counter0 }}">
                    <label for="{{q.id}}">{{ forloop.counter }}. {{ q }}</label>
                    <br>
                    <input type="hidden" name="{{ q.id }}" value="{{ forloop.counter }}" /> {% for a in answers %} {% ifequal q.id a.question_id %}
                    <input type="radio" name='{{ q.id }}' value="{{a.choice_text}},{{a.correct_choice}}">{{ a }}
                    <br> {% endifequal %} {% endfor %}
                    <div class="buttongroup">
                        <button data-back="questionblock{{ forloop.counter0 }}" class="move btn btn-default btn-medium" id="back{{ forloop.counter0 }}" type="button"><span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> BACK</button>
                        <button data-next="questionblock{{ forloop.counter0 }}" class="move btn btn-default btn-medium" id="next{{ forloop.counter0 }}" type="button">NEXT <span class="glyphicon glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div id="submitPanel">
                <div class="row-fluid" id="lastp">Great! You've completed the quiz.
                    <br>
                    <br> Click the submit button below to check your answers or the back button to go back and change your answers.</div>
                <div class="row-fluid" id="submitbuttongroup">
                    <button data-final="questionblock9" class="btn btn-default btn-xlarge" form="questionForm" id="back11" type="button" value="Submit Answers"><span class="glyphicon glyphicon glyphicon-arrow-left" aria-hidden="true"></span> BACK</button>
                    <button class="btn btn-default btn-xlarge" form="questionForm" id="submit" type="submit" value="Submit Answers">SUBMIT</button>
                </div>
            </div>
            <div class="row-fluid" id="progressBar"><span id="progressSpan">0%</span>
            </div>
        </form>
    </div>

    <div id="buttonholder">
        <a href="http://emap.mesacounty.us/geographyquiz" class="btn btn-default btn-medium" id="startoverbutton">Start Over</a>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <nav class="navbar" role="navigation">
                <div class="container-fluid">
                    <ul>
                        <li><a href="http://emap.mesacounty.us">GIS Home</a>
                        </li>
                        <li><a href="http://emap.mesacounty.us/viewer">Map Viewer</a>
                        </li>
                        <li><a href="http://emap.mesacounty.us/assessor_lookup/">Assessor Parcel Lookup</a>
                        </li>
                        <li><a href="http://emap.mesacounty.us/Assessor_Sales_Lookup/">Property Sales Lookup</a>
                        </li>
                        <li><a href="http://emap.mesacounty.us/egrab/">Imagery Download</a>
                        </li>
                        <li><a href="http://gis.mesacounty.us/template.aspx?id=4383&ekfxmensel=ecfaffb7d_298_306">GIS History</a>
                        </li>
                    </ul>
                    <div id="socialShare">
                        <a title="Share on Twitter" href="https://twitter.com/home?status=Check%20out%20the%20Mesa%20County%20GIS%20geography%20quiz%20-%20http://emap.mesacounty.us/geographyquiz%20(via%20@MCGIS)" target="_blank">
                            <img src="{% static 'images/Twitter32.png' %}" alt="Share on Twitter" />
                        </a>
                        <a title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://emap.mesacounty.us/geographyquiz&amp;t=Check%20out%20the%20Mesa%20County%20GIS%20geography%20quiz%20-%20" target="_blank">
                            <img src="{% static 'images/Facebook32.png' %}" alt="Share on Facebook" />
                        </a>
                        <a title="Share on Google Plus" href="https://plus.google.com/share?url=http://emap.mesacounty.us/geographyquiz" target="_blank">
                            <img src="{% static 'images/GooglePlus32.png' %}" alt="Share on Google +" />
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </footer>


    <script src="{% static 'js/take_the_quiz.js' %}"></script>
</body>
</html>
